.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 10px;
}

.body {
	margin-left: 250px;
	font-family: "Roboto", sans-serif;
}

#webgazerGazeDot {
	background: rgb(151, 151, 250) !important;
	height: 100px !important;
	width: 100px !important;
	opacity: 0.3 !important;
	border-radius: 100% !important;
}
